<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Date</title>
</head>
<body>
    <header>
        <h1>Movie Nights</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/movie">Movies</a></li>
            <li><a href="/user">Users</a></li>
        </ul>
    </header>
    <main>
        <div id="datePage">
            <h3>Available dates</h3>
            <ul>
                <li v-for="date in dates" v-on:click="selectDate">
                    {{date}}
                </li>
            </ul>
            <div id="selected" class="hidden">
                <p>Selected date: {{chosenDate}}</p>
                <input type="submit" value="confirm" v-on:click="chooseDate" id="chooseButton">
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let router = new VueRouter;
        let datesView = new Vue({
            router,
            el: '#datePage',
            created(){
                this.showDates();
            },
            data: {
                dates : [],
                chosenDate : '',
                token: ''
            },
            methods: {
                showDates(){
                    let date = this;
                    this.token = localStorage.getItem('token');
                    axios.get('http://localhost:8080/dates/all', {headers: {'Authorization': this.token}})
                        .then( response => {
                            date.dates = response.data;
                        })
                        .catch( error => {
                            if(error.message == 'Request failed with status code 403')
                                alert('You must log in');
                            else
                                console.log(error);
                        });
                },
                selectDate(date){
                    this.chosenDate = date.srcElement.textContent.trim();
                    document.getElementById('selected').classList.remove('hidden');
                },
                chooseDate(){
                    this.token = localStorage.getItem('token');
                    axios.post('http://localhost:8080/booking?startDate=' + this.chosenDate, {headers: {'Authorization': this.token}})
                        .then( response => {
                            alert(response.data);
                        })
                        .catch( error => {
                            if(error.message == 'Request failed with status code 403')
                                alert('You must log in');
                            else
                                console.log(error);
                        });
                }
            }
        });
    </script>
    <style>
        .hidden{
            display: none;
        }
    </style>
</body>
</html>