<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Movie Nights</title>
</head>
<body>
    <header>
        <h1>Movie Nights</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/movie">Find a movie</a></li>
                <li><a href="/user">Find friends</a></li>
                <li><a href="/date">Find available time</a> </li>
            </ul>
        </nav>
    </header>
    <main id="homePage">
        <div class="rowClass">
            <div class="centerClass">
                <div id="loginForm">
                    <h3>Log in:</h3>
                    <div class="formClass">
                        <label>Email:</label>
                        <input type="email" v-model="userEmail" placeholder="email" required><br/>
                        <label>Password:</label>
                        <input type="password" v-model="userPassword" placeholder="password" required><br/>
                    </div>
                    <input type="submit" value="Login" v-on:click="signInUser">
                </div>
                <p class="hidden" id="userTag">Logged in as {{user}}</p>
                <input type="submit" value="Logout" v-on:click="logout" id="logoutButton" class="hidden">
            </div>
            <div id="registerForm" class="centerClass">
                <h3>New user:</h3>
                <div class="formClass">
                    <label>Name:</label>
                    <input type="text" v-model="name" placeholder="name" required><br/>
                    <label>Email:</label>
                    <input type="email" v-model="email" placeholder="email" required><br/>
                    <label>Password:</label>
                    <input type="text" v-model="password" placeholder="password" required><br/>
                </div>
                <input type="submit" value="Register" v-on:click="registerUser">
            </div>
        </div>
        <div class="hidden" id="theoryPart">
            <div class="textClass">
                <h3>JSON Web Tokens</h3>
                <p>JSON Web Tokens is an open standard for secure transmitting of information as a JSON object. It can be used for authorization as well as data exchange. JSON Web Tokens are digitally signed and can be verified. They consist of three parts: header, payload and signature. JWT is easier to use than other tokens because of its JSON format, for which most programming languages have parsers. It is also more compact than other tokens( SWT, SAML tokens).</p>
            </div>
            <div class="textClass">
                <h3>HTTPS</h3>
                <p>HTTPS - Hypertext Transfer Protocol Secure - The communication protocol is encrypted using Transport Layer Security (TLS), or, formerly, its predecessor, Secure Sockets Layer (SSL). Https provides data integrity and protects the privacy and security of website users by encrypting the data. It also increases the speed of data transfer compared to http by encrypting and reducing the size of the data.</p>
            </div>
            <div class="textClass">
                <h3>OAuth2</h3>
                <p>OAuth2 is a protocol that enables applications to obtain limited access to user accounts on an HTTP service. Users authorize an application to access their data on other websites. The application requests an access token by sending its credentials, its client ID and client secret, to the authorization server. OAuth 2 provides authorization flows for web and desktop applications, and mobile devices. OAuth2 defines four roles: resource owner, client, resource server and authorization server.</p>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        let router = new VueRouter;
        let homeView = new Vue({
            router,
            el: '#homePage',
            created(){
              if(localStorage.getItem('token')!=''){
                  if(localStorage.getItem('expiresAt') <= new Date().getTime()){
                      localStorage.setItem('token', '');
                      localStorage.setItem('email', '');
                  }else{
                      document.getElementById('loginForm').classList.add('hidden');
                      document.getElementById('registerForm').classList.add('hidden');
                      document.getElementById('logoutButton').classList.remove('hidden');
                      document.getElementById('userTag').classList.remove('hidden');
                      document.getElementById('theoryPart').classList.remove('hidden');
                      document.getElementById('theoryPart').classList.add('rowClass');
                  }
              }
            },
            data: {
                userEmail: '',
                userPassword: '',
                name: '',
                email: '',
                password: '',
                user: localStorage.getItem('email')
            },
            methods: {
                registerUser(){
                    let user = new UserFE( this.name, this.email, this.password);
                    axios.post('http://localhost:8080/new-user', user)
                        .then( response => {
                            alert(response.status + ': ' + response.data);
                            document.getElementById('registerForm').classList.add('hidden');
                        })
                        .catch( error => console.log(error));
                    this.name = '';
                    this.email = '';
                    this.password = '';
                },
                signInUser(){
                    let login = new LoginData(this.userEmail, this.userPassword);
                    axios.post('http://localhost:8080/login', login)
                        .then( response => {
                            let token = 'Bearer ' + response.data.accessToken.trim();
                            let expiresAt = new Date().getTime() + 7200000;
                            localStorage.setItem('token', token);
                            localStorage.setItem('expiresAt', expiresAt);
                            alert(response.status + ': Logged in');
                            document.getElementById('loginForm').classList.add('hidden');
                            document.getElementById('registerForm').classList.add('hidden');
                            document.getElementById('logoutButton').classList.remove('hidden');
                            document.getElementById('userTag').classList.remove('hidden');
                            document.getElementById('theoryPart').classList.remove('hidden');
                            document.getElementById('theoryPart').classList.add('rowClass');
                        })
                        .catch( error => {
                            if(error.message == 'Request failed with status code 403')
                                alert('Wrong email or password');
                            else
                                console.log(error);
                        });
                    localStorage.setItem('email', this.userEmail);
                    this.user = this.userEmail;
                    this.userEmail = '';
                    this.userPassword = '';
                },
                logout(){
                    localStorage.setItem('token', '');
                    localStorage.setItem('email', '');
                    this.user = '';
                    document.getElementById('loginForm').classList.remove('hidden');
                    document.getElementById('registerForm').classList.remove('hidden');
                    document.getElementById('logoutButton').classList.add('hidden');
                    document.getElementById('userTag').classList.add('hidden');
                    document.getElementById('theoryPart').classList.remove('rowClass');
                    document.getElementById('theoryPart').classList.add('hidden');
                }
            }
        });
        class UserFE{
            constructor(displayName, email, password){
                this.displayName = displayName;
                this.email = email;
                this.password = password;
            }
        }
        class LoginData{
            constructor(email, password){
                this.email = email;
                this.password = password;
            }
        }
    </script>
    <style>
        .hidden{
            display: none;
        }
        header{
            border-bottom-style: double;
            padding-bottom: 15px;
            margin-bottom: 20px;
        }
        h1{
            text-align: center;
        }
        nav ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            list-style-type: none;
        }
        .rowClass{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .formClass{
            text-align: end;
        }
        .centerClass{
            text-align: center;
        }
        input{
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .textClass{
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 20px;
        }
    </style>
</body>
</html>