<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <header>
        <h1>Movie Nights</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/movie">Find a movie</a></li>
                <li><a href="/user">Find friends</a></li>
                <li><a href="/date">Find available time</a> </li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="userSearch">
            <div class="rowClass">
                <div>
                    <label>Enter name to search  for:</label>
                    <input type="text" v-model="name">
                    <input type="submit" v-on:click="getUsersByName" value="Search"><br/>
                </div>
                <input type="submit" v-on:click="getAllUsers" value="Show all users">
            </div>
            <div class="rowClass">
                <div class="hidden" id="userList">
                    <h2>Users:</h2>
                    <ul>
                        <li v-for="user in users" v-on:click="selectUser">
                            Name: {{user.displayName}}, Email: {{user.email}}
                        </li>
                    </ul>
                </div>
                <div class="hidden" id="chosenList">
                    <h3>Selected</h3>
                    <ul>
                        <li v-for="cUser in chosenUsers">
                            {{cUser}}
                        </li>
                    </ul>
                    <input type="submit" id="chooseButton" v-on:click="chooseUsers" value="Confirm">
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let router = new VueRouter;
        let userView = new Vue({
            router,
            el: '#userSearch',
            created(){

            },
            data: {
                name: '',
                users: [],
                chosenUsers: [],
                list: '',
                token: ''
            },
            methods: {
                getAllUsers(){
                    let user = this;
                    router.push({path: '/all'});
                    this.list = 'all';
                    this.token = localStorage.getItem('token');
                    axios.get('http://localhost:8080/users/all', {headers: {'Authorization': this.token}})
                        .then( response => {
                            user.users = response.data;
                            document.getElementById('userList').classList.remove('hidden');
                        })
                        .catch( error => {
                            if(error.message == 'Request failed with status code 403')
                                alert('You must log in');
                            else
                                console.log(error);
                        });
                },
                getUsersByName(){
                    let user = this;
                    router.push({path:'/' + user.name});
                    this.list = user.name;
                    this.token = localStorage.getItem('token');
                    axios.get('http://localhost:8080/users/' + user.name, {headers: {'Authorization': this.token}})
                        .then( response => {
                            user.users = response.data;
                            document.getElementById('userList').classList.remove('hidden');
                        })
                        .catch( error => {
                            if(error.message == 'Request failed with status code 403')
                                alert('You must log in');
                            else
                                console.log(error);
                        });
                },
                selectUser(user){
                    document.getElementById('chosenList').classList.remove('hidden');
                    let userString = user.srcElement.textContent;
                    let email = userString.substring((userString.lastIndexOf(":")+2), userString.length);
                    email = email.trim();
                    this.chosenUsers.push(email);
                },
                chooseUsers(){
                    this.token = localStorage.getItem('token');
                    axios.post('http://localhost:8080/booking/users/', this.chosenUsers, {headers: {'Authorization': this.token}})
                        .then( response => {
                            alert(response.status + ': ' + response.data);
                        })
                        .catch( error => {
                            if(error.message == 'Request failed with status code 403')
                                alert('You must log in');
                            else
                                console.log(error);
                        });
                    document.getElementById('chooseButton').classList.add('hidden');
                }
            }
        });
    </script>
    <style>
        .hidden{
            display: none;
        }
        header{
            border-bottom-style: double;
            padding-bottom: 15px;
            margin-bottom: 20px;
        }
        h1{
            text-align: center;
        }
        nav ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            list-style-type: none;
        }
        .rowClass{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding-top: 20px;
        }
        input{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</body>
</html>